:root {
	--color-text: #fff;
	--color-highlight: rgb(49, 84, 166);
	--color-background: #333;
	--width: 70px;
	--border-radius: 25px;
	--handle-size: 20px;
	--color-handle: #eee;
	--color-focus: orange;
	--handle-margin: 1px;
}

.toggle {
	width: var(--width);
	border-radius: var(--border-radius);
	overflow: hidden;
	border: 1px solid #eee;
	user-select: none;
	-webkit-user-select: none;
	background-color: var(--color-highlight);
}

.toggle-input { display: none; }

.toggle-label {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: var(--color-background);
	transition: margin-left .2s;
}

.toggle-handle {
	display: block;
	border-radius: inherit;
	width: var(--handle-size);
	height: var(--handle-size);
	background: var(--color-handle);
	margin: var(--handle-margin);
}
