:root {
	--background-color: #333;
	--border: 1px solid #eee;
	--border-radius: 25px;
	--width: 70px;
	--handle-size: 30px;
	--handle-highlight: rgb(49, 84, 166);
	--handle-color: #eee;
}

.toggle {
	width: var(--width);
	border: var(--border);
	border-radius: var(--border-radius);
	background: var(--handle-highlight);
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}

.toggle[disabled] { pointer-events: none; opacity: 0.6; }

.toggle-input { display: none; }

.toggle-label {
	background: var(--background-color);
	display: block;
	border-radius: inherit;
	cursor: inherit;
	transition: margin-left .2s;
}

.toggle-handle {
	width: var(--handle-size);
	height: var(--handle-size);
	background: var(--handle-color);
	border: 1px solid var(--background-color);
	display: block;
	border-radius: inherit;
}
